# Python
TreeSegmentation.py
# Ergebnisordner
WBT/
Vergleichsarbeiten/
Literatur/
Ground_truth/
FSCT/
ForestSemantic/
preprocessing/

!preprocessing/Wenns_Data/Single_Tree_Detection.R
!preprocessing/Wenns_Data/Crop_aoi.R